{% extends 'leads/base.html' %}
{% block content %}

<h1 class="mb-3 text-2xl font-bold" >Create a new Lead:</h1>
<form class="w-full bg-gray-200 px-4 ring-2 ring-gray-200" method="post" action=".">
    {% csrf_token %}
    <br>
    <div class="my-3 w-full border-none bg-transparent outline-none focus:outline-none">
        <p class="mb-3 font-bold"> First Name: {{ form.first_name }} </p>
    </div>
    <div class="my-3 w-full border-none bg-transparent outline-none focus:outline-none">
        <p class="mb-3 font-bold">Last Name: {{ form.last_name }}</p>
    </div>
    <div class="my-3 w-full border-none bg-transparent outline-none focus:outline-none">
        <p class="mb-3 font-bold">Age: {{ form.age }}</p>
    </div>
    <div class="my-3 w-full border-none bg-transparent outline-none focus:outline-none">
        <p class="mb-3 font-bold">Agent: {{ form.agent }}</p>
    </div>
    <br>
    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"> Submit </button>

</form>

{% endblock content %}
